/*
	GhuGhu Agency
	Author: Wahid Polin
	Version: 0.0.1
*/

@import 'base/reset.scss';
@import 'base/variables.scss';
@import 'base/mixins.scss';
@import 'base/base.scss';

@import 'layout/nav.scss';
@import 'layout/header.scss';
@import 'layout/aside.scss';
@import 'layout/footer.scss';

@import 'modules/typography.scss';
@import 'modules/blocks.scss';
@import 'modules/buttons.scss';
@import 'modules/sections.scss';
@import 'modules/components.scss';
@import 'modules/forms.scss';
@import 'modules/tables.scss';
@import 'modules/animations.scss';

@import 'layout/responsive/big-mobile.scss';
@import 'layout/responsive/tablet.scss';
@import 'layout/responsive/laptop.scss';
@import 'layout/responsive/desktop.scss';


.next-race-banner {
  background: #3d296c;
  padding: 20px;
  border-radius: 5px;
  margin-top: 5px;
  .right {
    margin-top: 1rem;
    button {
      background: -webkit-gradient(linear, left bottom, left top, from(#e8bb1e), to(#524002));
      background: -webkit-linear-gradient(bottom, #e8bb1e 0%, #524002 100%);
      background: -moz-linear-gradient(bottom, #e8bb1e 0%, #524002 100%);
      background: -o-linear-gradient(bottom, #e8bb1e 0%, #524002 100%);
      background: linear-gradient(top, #e8bb1e 0%, #524002 100%);
      border: none;
    }
  }
  h3 {
    font-weight: 600;
  }
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}
.masonry-grid {
  position: relative;
}
@media (max-width: 750px) {
  .container .my-masonry-grid .image {
    width: 90%;
  }
}
.body-parts {
  position: relative;
  display: block;
  &.head {
    top: 1.5rem;
    left: 0.5rem;
  }
  &.neck {
    top: -7.5rem;
    left: 0.7rem;
  }
  &.torso_upper {
    top: -17rem;
    left: 0.5rem;
  }
  &.torso_lower {
    top: -10rem;
    left: 0.4rem;
  }
  &.right_arm_lower {
    top: -0.5rem;
    left: -5.5rem;
  }
  &.right_leg_lower {
    top: 4.8rem;
    left: -3.5rem;
  }
  &.right_leg_upper {
    top: -2.2rem;
    left: -4.5rem;
  }
  &.right_arm_upper {
    top: -6.8rem;
    left: -5rem;
  }
  &.left_leg_lower {
    top: 16rem;
    left: 5rem;
  }
  &.left_arm_lower {
    top: 10.5rem;
    left: 7rem;
  }
  &.right_hand {
    top: -1.2rem;
    left: -7rem;
  }
  &.left_foot {
    top: 24em;
    left: 4rem;
  }
  &.left_leg_upper {
    top: 9rem;
    left: 5rem;
  }
  &.left_hand {
    top: 10rem;
    left: 7.5rem;
  }
  &.left_arm_upper {
    top: 4.5rem;
    left: 6rem;
  }
  &.right_foot {
    top: 12.7rem;
    left: -3.6rem;
  }
}

.human-body {
  position: relative;
  height: 490px;
  background-image: url('https://images.vexels.com/media/users/3/141885/isolated/preview/cc2dcc350d1772f24bee9e0e55e3029a-human-body-man-by-vexels.png');
  background-repeat: no-repeat;
  background-position: center;
}

