default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: cod2_development

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>